body {
    font-family: "Comic Sans MS";
    margin: 0;
}

#banner {
    background-color: #00cc00;
    background-image: url(https://cdn2.thecatapi.com/images/8k6.jpg);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20vh 20px; /*(20vh) Percent of the height of screen */
    text-align: center;

}
.section {
    display: flex;
    padding: 50px;
  }
  
  .section p {
    flex: 1;
  }
  
  .section svg {
    border: 1px solid red;
    flex: 2;
    height: 300px;
    margin: 20px;
  }
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }
#tooltip {
    display:none;
    position:absolute;
}

