body {
    
    margin: 0;
    background-color: LightBlue;
    
}

#banner {
    background-color: royalblue;
    background-image: url(./abc\ news.jpeg);
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 30vh 30px;/*(20vh) Percent of the height of screen */
    text-align: center;
    color: white;
    font-family: "Times New Roman", "Times", serif;

}

.headline {
  margin: 50px 60px 20px 80px;
  font-size: 1.5em;
  line-height: 3vh;
  text-align: center;
}

.subhead{
  margin: 50px 60px 10px 80px;
  font-size: 1em;
  line-height: 3vh;
  text-align: center;
}
.section {
    display: flex;
    padding: 30px 60px 20px 80px;
  }
  
  p { 
    margin: 50px 350px 20px 350px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
  line-height: 5vh;
  text-align: left;
  color: rgb(59, 59, 59);
  }
  
  .section svg {
    border: 1px solid red;
    flex: 1;
    height: 300px;
    margin: 20px;
  }
  @media (max-width: 600px) {
    .section {
      flex-direction: column;
    }
    .section svg {
      flex: none;
    }
  }
#tooltip {
    display:none;
    position:absolute;
}

